{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <header class="py-5 text-center">
            <h1 class="display-1 font-weight-normal text-primary"><i class="far fa-newspaper"></i> Debread</h1>
        </header>
        <div class="error text-center">
            <h1>Erreur XXX</h1>
            <h2 class="text-muted">une erreur inconnue est survenue</h2>
            <p><a href="{{ path('home') }}"><i class="fas fa-arrow-circle-left"></i> retour à la page d'accueil</a></p>
        </div>
    </div>
{% endblock %}